body {
    font-family: Arial;
    background: #f3f3f3;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    margin-top: 25px;
    color: #333;
}

#contenedor {
    margin: 40px auto;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.gauge-block {
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0px 2px 8px rgba(0,0,0,0.15);
}

.gauge {
    width: 250px;
    height: 180px;
    margin: auto;
}

#valor-temp,
#valor-hum {
    font-size: 24px;
    margin-top: 8px;
    font-weight: bold;
}
