body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: #f2f2f2;
    padding-top: 50px;
}

h1 {
    font-size: 32px;
    color: #333;
}

.botones {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

button {
    padding: 15px 30px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;
}

#btnOn {
    background: #2ecc71;
}

#btnOff {
    background: #e74c3c;
}

#estado {
    margin-top: 25px;
    color: #555;
    font-size: 20px;
}
